<h1 class="mt-4"><%= title %></h1>
<p class="lead mb-3">Welcome <%= user %></p>

<div class="row mt-4">
  <div class="col-sm-12 col-md-6">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="/books">All Books</a>
      </li>
      <li class="list-group-item">
        <a href="/books/add">Add Books</a>
      </li>
      <li class="list-group-item"><a href="/users/logout">Logout</a></li>
    </ul>
  </div>
</div>

<!-- List All books -->
