<h1 class="mt-4"><%= title %></h1>
<p class="lead mb-3">Welcome <%= user %></p>
<a href="/users/logout" class="btn btn-danger">Logout</a>

<div class="row mt-4">
  <div class="col-sm-12 col-md-6">
    <form action="/uploads" method="POST" id="upload-widget" class="dropzone">
      <div class="fallback">
        <input type="file" name="file">
      </div>
    </form>
  </div>
</div>
